.gnb-icon-button {
  $badge-size: 16px;

  @include flexbox;
  position: relative;
  width: 32px;
  height: 32px;
  font-size: 24px;
  color: $secondary;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;

  &.gnb-menu-button {
    color: $blue;

    &:active {
      color: $blue-dark;
    }
  }

  &.gnb-search-button {
    margin-right: 4px;
  }

  .badge {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: auto;
    height: 16px;
    min-width: $badge-size;
    padding: 0 4px;
    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: $white;
    text-align: center;
    background-color: $red;
    border-radius: $badge-size / 2;
  }

  @include responsive(md) {
    margin-right: 8px;
    border-radius: 50%;

    &:hover {
      color: $white;
      background-color: $blue;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
