%price-base {
  @include inline-flexbox(start);

  .price {
    font-family: $font-price;
  }

  .currency {
    font-family: $font-main;
  }
}

.price-16,
.price-20,
.price-32 {
  @extend %price-base;
  font-weight: 700;
  color: $dark;
}

.price-16 {
  .price {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.02em;
  }

  .currency {
    @include text-style(14);
  }
}

.price-20 {
  .price {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.02em;
  }

  .currency {
    @include text-style(16);
  }
}

.price-32 {
  .price {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.02em;
  }

  .currency {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.02em;
  }
}

.price-discounted {
  @extend %price-base;
  color: $secondary;
  text-decoration: line-through;

  .price {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.01em;
  }

  .currency {
    @include text-style(14);
    font-weight: 400;
  }
}

.price-sale-percentage {
  @extend %price-base;
  color: $blue;

  .price,
  .percent {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  @include responsive(md) {
    @include flexbox(start, end);

    .price {
      font-size: 44px;
      line-height: 36px;
    }

    .percent {
      line-height: 20px;
    }
  }
}
